@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #181818;
    font-family: 'Oxanium', sans-serif;
    outline: none;
    background-color: none;
}

.servico {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #181818;
    padding: 4rem;
}

.servico .info {
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
}

.servico .img_servico {
    display: flex;
    justify-content: flex-end;
}

.img_servico img {
    width: 600px;
}

.servico h1 {
    font-weight: 700;
    font-size: 96px;
    color: #FFFFFF;
    margin: 0 0 1rem 0;
}

.servico p {
    font-weight: 700;
    font-size: 24px;
    color: #FFFFFF;
    margin: 0 0 1rem 0;
}

.botao_serv {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00AC4D;
    border-radius: 40px;
    padding: .3rem;
    transform: scale(1.0);
    transition: all 0.5s;
    border: none;
    outline: none;
}

.botao_serv a {
    font-size: 15px;
}

.botao_serv:hover {
    transform: scale(1.1);
}