@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    color: #181818;
    font-family: 'Oxanium', sans-serif;
    outline: none;
    background-color: none;
}

h1 {
    color: #00AC4D;
    font-weight: 50;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem 4rem 4rem 4rem;
    background-color: #181818;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
}

.banner .frases {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin-right: 2rem;
}

.banner .img_banner {
    display: flex;
    justify-content: flex-end;
}

.img_banner img {
    width: 700px;
}

.banner h1 {
    font-weight: 700;
    font-size: 96px;
    color: #FFFFFF;
    width: 100%;
    margin: 0;
}

.banner p {
    font-weight: 500;
    font-size: 20px;
    color: #FFFFFF;
}
