/* resetando a margin do site */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Deixar o botão transparente ao passar mouse */
.textologin button:hover {
  opacity: 0.80;
}

/* Deixar o input transparente ao passar mouse */
.textologin input:hover {
  opacity: 0.80;
}

/* Tirar o sublinhado */
a {
  text-decoration: none;
}

/* Dando cor ao placeholder(palavra dentro do input) */
.textologin ::placeholder {
  color: #000000;
}

/* Deixando o background de tudo da mesma cor e deixando o display como flexivel */

.telaLogin {
  display: flex;
  height: 100%;
  width: 100%;
}

/* Essa parte é a que tem a imagem da esmerald*/
.esquerda-login {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  /*TROCAR A COR DO FUNDO AQUI*/
  background: #54ECBC;

}


/* Definindo tamanho para a imagem da logo*/
.esquerda-login .imagemlogo {
  width: 30vw;
}

/* Colocando no centro a frase de Login e dando uma cor mais escura ao texto*/
.fraselogin {
  display: flex;
  text-align: center;
  justify-content: center;
  color: #25C998;
}

/*Essa parte é toda a parte de login (seria como a parte direita do site)
  onde tem os input de cadastro e os botão*/
.textologin {
  width: 50%;
  border: none;
  padding: 50px;
  background-color: #000302fa;
  font-size: 12pt;
  box-sizing: border-box;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
}

/* Modificando o botão da tela de cadastro(tirando a borda, colocando um background
  do botão para a mesma cor do site, e entre outros*/
.textologin .botaologin {
  margin-top: 70px;
  width: 50%;
  color: #000000;
  background-color: #25C998;
  padding: 15px 30px 15px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

/* Modificando TODOS os inputs da tela da direita*/
.textologin input {
  color: #000000;
  background-color: #25C998;
  border: none;
  box-sizing: border-box;
  width: 70%;
  height: 47px;
  margin-top: 70px;
  border-radius: 7px;
  display: flex;
  padding: 0 0 0 20px;
}

/* Estilizando o botão de voltar para a tela de Login*/
.botaoVoltarParaATeladeCadastro {
  border: 0;
  color: #000000;
  font-size: 13px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 16pt;
}


.div_botaologin {
  justify-content: center;
  display: flex;
  align-items: center;
}

.centralizar_input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

