@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Oxanium', sans-serif;
    outline: none;
    box-sizing: border-box;
}

body{
    background-color: #181818;
}

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #181818;
}

::-webkit-scrollbar-thumb{
    background-color: #FFFFFF;
}

.header {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    border-radius: 0 0 10px 10px;
    z-index: 10000000;
}
.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_home {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navegacao img{
    width: 130px;
}

.navegacao ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: #181818;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.navegacao li{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px 0px 5px 0px;
    width: 100%;
    cursor: pointer;
    
}

.botoes ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.botoes li{
    cursor: pointer;
}

.painel{
    width:100%;
    display: flex;
    justify-content: center;
    background-color: red;
    align-items: flex-end;
}

.painel h3{
    color: #FFFFFF;
}

.container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lime;
}

.temperatura{
    display: flex;
    justify-content: center;
    flex-direction: row;
}


.indi_temp{
    width: 80%;
    background-color: #2E2E2E;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
}


.legenda_temp{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    border: 2px solid white;
    border-radius: 10px;
    padding: 4px;
    margin: 10px;
}

.legenda_temp ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
    width: 100%;
    color: #FFFFFF;
    list-style: none;
    gap: 1rem;
}

.legenda_temp ul li{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}

.bola{
    padding: 1px;
    width: 15px;
    height: 15px;
    border-radius: 500px;
}

.bola b1{
    background-color: #253bfe;
}

.bola b2{
    background-color: #00fff0;
}

.bola b3{
    background-color: #09c25d;
}

.bola b4{
    background-color: #bdff00;
}

.bola b5{
    background-color: #ff2e00;
}

.grafi_temp{
    background-color: #2E2E2E;
}

.umidade{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.indi_umi{
    margin-top: 10px;
    width: 80%;
    background-color: #2E2E2E;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
}

.legenda_umi{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #181818;
    border: 2px solid white;
    border-radius: 10px;
    padding: 4px;
    margin: 10px;
}

.legenda_umi ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 0px 0px 0px;
    width: 100%;
    color: #FFFFFF;
    list-style: none;
}

.grafi_umi{
    background-color: red;
}

.kpi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.k1{
    padding: 4px;
    background-color: #253bfe;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.k2{
    padding: 4px;
    background-color: #00fff0;
    border: 2px solid white;
    border-radius: 10px;
}

.k3{
    padding: 4px;
    background-color: #09c25d;
    border: 2px solid white;
    border-radius: 10px;
}

.k4{
    padding: 4px;
    background-color: #bdff00;
    border: 2px solid white;
    border-radius: 10px;
}

.k5{
    padding: 4px;
    background-color: #ff2e00;
    border: 2px solid white; 
    border-radius: 10px;   
}

.grafi_temp{
    width: 20%;
    background-color: #2E2E2E;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
}

.grafi_umi{
    margin-top: 10px;
    width: 20%;
    background-color: #2E2E2E;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
}