@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', sans-serif;
}
body{
    background-color: #181818;

}

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-track{
    background-color: #181818;
}

::-webkit-scrollbar-thumb{
    background-color:	#FF69B4;
}


.header {

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    /* position: fixed; */
    width: 100%;
    border-radius: 0 0 10px 10px;
    z-index: 10000000;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_home {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navegacao img{
    width: 130px;
}

.navegacao ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: #181818;
    width: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
}

a {
    color: #9eb7e0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.log_cad {
    list-style: none;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botao_log {
    background-color: transparent;
    border: 1px solid #9eb7e0;
    margin-left: 40px;
    padding: .5rem;
    border-radius: 40px;
}

.botao_log:hover {
    background-color:	#FF69B4;
    border: 1px solid 	#FF69B4;
    margin-left: 40px;
    padding: .5rem;
}

.botao_cad {
    background:	#8B008B;
    border-radius: 40px;
    padding: .5rem;
    transform: scale(1.0);
    transition: all 0.5s;
}
.botao_cad:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.botoes li{
    cursor: pointer;
}

.painel h3{
    color: #FFFFFF;
}



.musicas{
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: column;
}


.mais_vot{
    width: 80%;
    background-color: #8B008B;
    border-radius: 10px;
    margin-right: 20px;
    padding: 10px;
}

.grafi_musica{
    background-color: #2E2E2E;
}

.kpi{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    text-shadow: 2px 0 #000000, -2px 0 #000000, 0 2px #000000, 0 -2px #000000,
    1px 1px #000000, -1px -1px #000000, 1px -1px #000000, -1px 1px #000000;
}

.k1{
    padding: 4px;
    background-color: #8B008B;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

.k2{
    padding: 4px;
    background-color: #9eb7e0;
    border: 2px solid white;
    border-radius: 10px;
}

.k3{
    padding: 4px;
    background-color: #FF69B4;
    border: 2px solid white;
    border-radius: 10px;
}

.grafi_musica{
    width: 60%;
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-right: 20px;
    /* padding: 40px; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 200px;
    align-items: center;
}
.container{
    display: flex;
    flex-direction: column;
}
.metrica{
    width: 150px;
    height: 150px;
    border-radius: 7px;
    
}
.rock{
    background-color: #8B008B;
}
.rap{
    background-color: #9eb7e0;
}
.pop{
    background-color: #FF69B4;
}