@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', sans-serif;
}

.header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    border-radius: 0 0 10px 10px;
    z-index: 10000000;
}

.logo {
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav_home {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    overflow: hidden;
}

a {
    color: #9eb7e0;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.log_cad {
    list-style: none;
    width: 20%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.botao_log {
    background-color: transparent;
    border: 1px solid #9eb7e0;
    margin-left: 40px;
    padding: .5rem;
    border-radius: 40px;
}

.botao_log:hover {
    background-color: #FF69B4;
    border: 1px solid #ef9499;
    margin-left: 40px;
    padding: .5rem;
}

.botao_cad {
    background: 	#8B008B;
    border-radius: 40px;
    padding: .5rem;
    transform: scale(1.0);
    transition: all 0.5s;
}

.botao_cad:hover {
    transform: scale(1.1);
    transition: all 0.5s;
}

.textologin button:hover {
    opacity: 0.80;
}

a {
    text-decoration: none;
}

.textologin ::placeholder {
    color:#181818;
}

.telaLogin {
    display: flex;
    height: 100%;
    width: 100%;
}

.esquerda-login {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: #181818;
    padding-top: 10%;
}

.esquerda-login .imagemlogo {
    width: 40%;
    height: 30%;
    animation-name:rodarimagem;
    animation-duration: 1s ;
    animation-iteration-count:infinite;
    animation-timing-function: ease-in-out;
    
}
    @keyframes rodarimagem {
    0%{
        transform: rotate(0deg)
    }
    50%{
        transform:rotate(45deg)

    }
    100%{
        transform: rotate(0deg)

    }
}


.fraselogin {
    display: flex;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}

.textologin {
    width: 50%;
    border: none;
    padding: 50px;
    background-color: #181818;
    font-size: 12pt;
    box-sizing: border-box;
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
}

.textologin .botaologin {
    margin-top: 70px;
    width: 50%;
    color: #181818;
    background-color: 	#8B008B;
    padding: 15px 30px 15px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    cursor: pointer;
}

.textologin input {
    color: #181818;
    background-color: #FFFFFF;
    border: none;
    box-sizing: border-box;
    width: 70%;
    height: 47px;
    margin-top: 70px;
    border-radius: 7px;
    display: flex;
    padding: 0 0 0 20px;
}

.botaoVoltarParaATeladeCadastro {
    border: 0;
    color: #9eb7e0;
    font-size: 13px;
    font-weight: bold;
    margin-top: 20px;
    cursor: pointer;
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 16pt;
}


.div_botaologin {
    justify-content: center;
    display: flex;
    align-items: center;
}

.centralizar_input {
    display: flex;
    flex-direction: column;
    align-items: center;
}