*{
    background-color: rgb(22, 22, 22);
}

.header{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 100%;
    background-color: rgb(22, 22, 22);
    padding: 10px 10;
    color: beige;
    width: 100%;
    border-bottom: 4px solid #25c998 ;
}

.container1{
    margin:  auto;
    width: 100%;
    display: flex;
    align-items:center;
    justify-content: space-between;
}

ul {
    margin: 20px;
    font-size: larger;
    display: flex;
    width: 600px;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}

li{
    cursor: pointer;
}

.button-cad{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
    background-color: #25c998;
    border-color: #ffffff;
    color: beige;
    padding: 10px 30px;
    border-radius: 20px;;
    
}

.button-log{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
        color: beige;
        background-color: #161616;
        border-color: #25c998;
        padding: 10px 30px;
        border-radius: 20px;
        cursor: pointer;;
}

h1{
    margin: 30px;
    color: #00ff7f;
    display: flex;
    align-items: center;
}

.banner{
    color: beige;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

.bannertxt1{
    display: flex;
    justify-content:space-around;
    font-size: 100px;
}

.social{
    font-size: 30px;
}



/* 008000
32cd32
00ff7f
 */